@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  background-color: whitesmoke;
}
#main-heading {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 50px;
  letter-spacing: 5px;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container {
  margin: 10px 30%;
}
.img-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #main-heading {
    font-size: 30px;
  }
  .img-container {
    margin: 10px 10%;
  }
}
